[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.apk
*.aab
*.slnx

.DS_Store
.vs/
.vscode/
.idea/
.utmp/

*_BurstDebugInformation_DoNotShip/
build_BackUpThisFolder_ButDontShipItWithYourGame/
